<div class="modal show" tabindex="-1" role="dialog" aria-labelledby="alertModalTitle" aria-hidden="true" style="display: block;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alertModalTitle">{{ data.title }}</h5>
      </div>
      <div class="modal-body">
        <p>{{ data.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onClose()">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop show"></div>
